
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 95vh;
    align-content: center;
}

#uploadButton{
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    grid-template-columns: 382px 112px 1fr;
    background-color: #29B6F6;
    margin: auto;
    justify-content: center;
    border: none;
    border-radius: 100px;
    color: white;
    /* padding: 30px; */
    font-size: 30px;
    box-shadow: 0px 20px 60px 10px #29B6F682; /*|h-offset v-offset blur spread color */ 
}

#progressBar{
    width: 280px;
    grid-row: 1/2;
    background-color: #0288D1;
    /* border-radius: 100px 0px 0px 100px; */
    color: white;
    grid-column: 1/2;
    padding: 40px 0px;
    animation-delay: 1.5s;
    transform: translateX(-500px);
}

#buttonVisibleContentContainer{
    display: grid;
    width: 100%;
    overflow: hidden;
    grid-column: 1/4;  
}

#uploadDiv{
    grid-row: 1/2;
    grid-column: 1/2;
    padding-top: 30px;
    justify-self: center;
    width: max-content;
    transform: translateX(35%);
}
#progressDiv{
    grid-row: 1/2;
    display: grid;
    justify-content: center;

}

#progressDiv>p{

    z-index: 4;
    position: relative;
}


.slide-out {
    animation: slide-out 1.5s forwards;
    transition-timing-function: ease-in;
    /* animation-iteration-count: infinite; */
}

.slide-in {
    animation: slide-in 1.5s forwards;
    transition-timing-function: ease-in;
    /* animation-iteration-count: infinite; */
}

.progress-bar-slide-in{
    animation: progress-bar-slide-in 3.2s forwards;
    transition-timing-function: ease-in;
    /* animation-iteration-count: infinite; */
}


@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(200%); }
}

@keyframes slide-in {
    0% { transform: translateX(-1000%); }

    100% { transform: translateX(-165%); }
}

@keyframes progress-bar-slide-in {
    0% { transform: translateX(-80%); }
    /* 80% { transform: translateX(-60%); } */
    100% { transform: translateX(40%); }
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
