
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 95vh;
    align-content: center;
}

#uploadButton{
    overflow: hidden;
    width: 256px;
    display: grid;
    grid-column: 3/4;
    grid-template-columns: 1fr max-content 1fr;
    background-color: #29B6F6;
    margin: auto;
    justify-content: center;
    border: none;
    border-radius: 100px;
    color: white;
    padding: 30px;
    font-size: 30px;
    box-shadow: 0px 20px 60px 10px #29B6F682; /*|h-offset v-offset blur spread color */ 
}
#buttonVisibleContentContainer{
    display: grid;
    width: 100%;
    overflow: hidden;
    grid-column: 2/3;  
}

#uploadDiv{
    grid-row: 1/2;
}
#progressDiv{
    grid-row: 1/2;
    justify-self: center;
}

#progressDiv>p{
    margin: 0px;
}


.slide-out {
    animation: slide-out 1.5s forwards;
    transition-timing-function: ease-in;
    animation-iteration-count: infinite;
}

.slide-in {
    animation: slide-in 1.5s forwards;
    transition-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(200%); }
}

@keyframes slide-in {
    0% { transform: translateX(-1000%); }
    100% { transform: translateX(-155%); }
}